{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h1>Liste des Recettes</h1>

    <ul>
        {% for recipe in recipes %}
            <li>
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.description }}</p>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.steps }}</p>
            </li>
        {% else %}
            <p>Aucune recette trouvée.</p>
        {% endfor %}
    </ul>
{% endblock %}
